<app-popup *ngIf="printPopup" [msg]="popoverMessage" [color]="colorPopup ? 'green' : 'red'"></app-popup>
<app-card [title]="intern.name">
    <app-internship-add *ngIf="printUpdate" addOrPatch="patch" [internship]="intern" title="Modifier ce stage"
        (postStatus)="getPostStatus($event)" (emitId)="getId($event)" (postMessage)="getPostMessage($event)"
        (closeCard)="getClosedButton($event)"></app-internship-add>
    <ion-grid>
        <ion-row class="ion-align-items-center">
            <ion-col size="12" size-sm="10" size-md="8" size-lg="2">
                <ion-row>
                    {{intern.place}}
                </ion-row>
                <ion-row>
                    {{intern.price}}€ / enfant
                </ion-row>
            </ion-col>
            <ion-col size="12" size-sm="10" size-md="8" size-lg="2">
                <ion-row>
                    À partir de {{intern.fromAge}} ans
                </ion-row>
                <ion-row>
                    Place(s) : {{intern.numberAvailable}}
                </ion-row>
            </ion-col>
            <ion-col size="12" size-sm="10" size-md="8" size-lg="2">
                <ion-row>
                    Début: {{intern.startDate | date:'dd/MM/yy'}}
                </ion-row>
                <ion-row>
                    Fin: {{intern.endDate | date:'dd/MM/yy'}}
                </ion-row>
            </ion-col>
            <ion-col size="12" size-sm="10" size-md="8" size-lg="2">
                <ion-row>
                    Horaire: {{intern.startHour}} - {{intern.endHour}}
                </ion-row>
            </ion-col>
            <ion-col size="12" size-sm="10" size-md="8" size-lg="2">
                <app-button iconName="settings" (click)="updateForm()"></app-button>
                <app-button iconName="trash-bin" (click)="deleteInternship(intern.id)"></app-button>
            </ion-col>
        </ion-row>
    </ion-grid>

</app-card>