<ion-content>
    <ion-grid>
        <form [formGroup]="formGroup">
            <ion-col>
                <ion-item lines="full" class="ion-text-center">
                    <ion-label position="floating">Identifiant</ion-label>
                    <ion-input formControlName="username" type="text"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item lines="full" class="ion-text-center">
                    <ion-label position="floating">Mot de passe</ion-label>
                    <ion-input formControlName="password" type="text" required></ion-input>
                </ion-item>
            </ion-col>
            <div class="ion-text-center" (click)="tryToConnect()">
                <ion-button [disabled]="formGroup.invalid">Connexion</ion-button>
            </div>
        </form>
        <div class="ion-text-center">
            <ion-text *ngIf="error"> Identifiant ou mot de passe incorrect</ion-text>
        </div>
    </ion-grid>
</ion-content>