<ion-menu contentId="main-content" [disabled]="!obsConnected">
  <ion-content class="ion-padding">
    <nav>
      <!-- <ion-menu-toggle auto-hide="true"> -->
      <ion-item [routerLink]='element.url' *ngFor="let element of menuList" routerDirection="forward">
        {{element.menuName}}
      </ion-item>
      <!-- </ion-menu-toggle> -->
    </nav>
    <ion-item>
      <ion-label>Déconnexion</ion-label>
    </ion-item>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="warning">
      <ion-buttons slot="start">
        <!-- <ion-menu-toggle> -->
        <ion-menu-button></ion-menu-button>
        <!-- </ion-menu-toggle> -->
      </ion-buttons>
      <h1 id="title"> s'Cool Family Admin' </h1>
    </ion-toolbar>
  </ion-header>
  <ion-router-outlet></ion-router-outlet>