<app-card [title]="title">
  <div style="position: fixed; right: 80px; top: 10px;">
    <app-button (click)="close()" iconName="close-outline"></app-button>
  </div>
  <app-loading [loading]="loading"></app-loading>
    <ion-grid>
        <form [formGroup]="formGroup">
            <ion-row class="ion-align-items-center">
                <ion-col offset="1" size="10" size-md="4" size-lg="3">
                    <ion-item>
                        <ion-input type="text" placeholder="Nom" formControlName="name">
                        </ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-input type="number" placeholder="Nombre de places"
                            formControlName="numberAvailable">
                        </ion-input>
                    </ion-item>
                  <ion-item>
                    <ion-input type="number" min="1" placeholder="Âge"
                               formControlName="fromAge">
                    </ion-input>
                      <ion-text> ans</ion-text>
                  </ion-item>
                </ion-col>
                <ion-col offset="1" size="10" size-md="4" size-lg="2">

                    <ion-item>


                      <ion-label position="stacked"> Date de début </ion-label>

                      <ion-input type="date"
                                 [min]="todayDate"
                                 formControlName="startDate">
                      </ion-input>
                    </ion-item>
                  <ion-item>
                      <ion-label position="stacked"> Date de fin </ion-label>
                      <ion-input type="date"
                                 formControlName="endDate">
                      </ion-input>
                      </ion-item>
                      <ion-item>
                        <ion-label position="stacked"> Heure de début </ion-label>
                        <ion-input type="time"
                                   formControlName="startHour">
                        </ion-input>
                      </ion-item>
                  <ion-item>
                        <ion-label position="stacked"> Heure de fin </ion-label>

                        <ion-input type="time"
                                   formControlName="endHour">
                        </ion-input>

                    </ion-item>

                </ion-col>
                <ion-col offset="1" size="10" size-md="4" size-lg="3">
                    <ion-item>
                      <ion-input type="text" placeholder="Lieu"
                                 formControlName="place">
                      </ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-input type="number" min="0" placeholder="Prix"
                                 formControlName="price">
                      </ion-input>
                      <ion-text> €</ion-text>
                    </ion-item>
                </ion-col>
              <ion-col offset="1" size="10" size-md="4" size-lg="9">
                <div style="display: flex; flex-direction: row; justify-content: center;" >
                <app-button *ngIf="addOrPatch === 'add'" iconName="save-outline" (click)="postInternship()" [disabled]="!formGroup.valid"></app-button>
                  <app-button *ngIf="addOrPatch === 'patch'" iconName="save-outline" (click)="update()" [disabled]="!formGroup.valid"></app-button>

                </div>
              </ion-col>
            </ion-row>
        </form>

    </ion-grid>
</app-card>
